.card {
    background: rgba(255, 245, 245, 0.75);
    border-radius: 18px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 245, 245, 0.2);
  }
  
  .title {
    font-size: 1rem;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  .thumbnail {
    height: 160px;
    width: 150px;
    display: block;
    margin: auto;
    object-fit: cover;
  }
  
  .product-card {
    height: 380px;
    margin-bottom: 2vh;
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    transition: all 0.4s;
  }
  
  .product-card:hover {
    transform: scale(1.1);
    -webkit-box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.75);
  }
  
  .redirect-button {
/* code from https://getcssscan.com/css-buttons-examples used for the button*/

    --b: 3px;
    --s: .45em;
    --color: #000000;
  
    align-self: center;
    margin-bottom: 12px;
    all: unset;
    width: 120px;
    height: 35px;
    font-size: 18px;
    background: linear-gradient(45deg, #000000, #333333);
    border: none;
    position: fixed;
    color: #0c0810;
    cursor: pointer;
    z-index: 1;
    padding: 18px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
  
    &:hover,
    &:focus-visible {
      --_p: 0px;
      outline-color: var(--color);
      outline-offset: .05em;
    }
  
    &:active {
      background: linear-gradient(45deg, #333333, #000000);
      color: #fff;
    }
  
    &::after,
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -99999;
      transition: all .5s;
    }
  
    &::before {
      transform: translate(0%, 0%);
      width: 100%;
      height: 100%;
      /* background: #a5a5ae; */
      border-color: #000000;
      border-radius: 12px;
    }
  
    &:hover::before {
      transform: translate(5%, 15%);
      width: 110%;
      height: 110%;
    }
  
    &:active::after {
      transition: 0s;
      transform: translate(5%, 5%);
    }
  }
  